<h3>create new dose here</h3>

 
<%= simple_form_for [cocktail, dose] do |f| %>

  <%= f.input :description, placeholder: 'type dose description' %>
  <%= f.association :ingredient  %>

  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
